:root {
    --border-color: #072600;
    --dialog-background: #d4f5c6;
    --menu-background: #c5dcc2;
    --menu-border-color: #6c9b4f;
    --menu-font-color: #31501f;
    --menu-selected-background: #d2b400;
}

* {
    box-sizing:border-box;
}

body {
    background: #3e5227;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Work Sans', sans-serif;
}

.game-container {
    position: relative;
    width: 352px;
    height: 198px;
    margin: 0 auto;
    outline: 1px solid white;

    transform: scale(3) translateY(50%);
}

.game-container canvas {
    image-rendering: pixelated;
}